<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} [%thread] %-5level %-36logger{36} [%X{requestId} |
        %X{method} | %X{url} | %X{clientIp}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.dir}/.logs/otboo.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${user.dir}/.logs/otboo.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} [%thread] %-5level %-36logger{36} [%X{requestId} |
        %X{method} | %X{url} | %X{clientIp}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <springProfile name="local,test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
    <logger name="com.sprint.mission.otboo" level="DEBUG"/>
  </springProfile>

  <springProfile name="dev, prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>